<header class="p-3 bg-light text-white">
  <div class="d-flex flex-wrap align-items-center justify-content-between">
    <mat-form-field class="example-full-width">
      <mat-label>City name</mat-label>
      <input [formControl]="cityName" type="text" matInput [matAutocomplete]="cityBlock" />
      <mat-autocomplete #cityBlock="matAutocomplete" (optionSelected)="selectedCity($event)">
        <mat-option class="bg-dark" *ngFor="let cityName of filteredCityNames | async" [value]="cityName">
          {{ cityName.name }}({{ cityName.country }})
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Locale</mat-label>
      <mat-select  [formControl]="controlLocale">
        <mat-option class="bg-dark" *ngFor="let locale of locales " [value]="locale">
          {{ locale }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</header>
