<table *ngIf="presset === 'daily'" mat-table [dataSource]="dataSourceDay" class="mat-elevation-z8">
  <ng-container matColumnDef="city_name">
    <th mat-header-cell *matHeaderCellDef>City Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container
    *ngFor="let displayedColumn of displayedColumns | slice : 1 : displayedColumns.length; let i = index"
    [matColumnDef]="displayedColumn"
  >
    <th mat-header-cell *matHeaderCellDef>{{ displayedColumn | date : 'EEEEEE (dd.MM)' }}</th>
    <td mat-cell *matCellDef="let element">{{ element.daily[i].temp | displayTemperature | temperatureConvert: 'KC'| number: "1.0-0"}}°</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>


<table *ngIf="presset === 'hourly'" mat-table [dataSource]="dataSourceHour" class="mat-elevation-z8">
  <ng-container matColumnDef="city_name">
    <th mat-header-cell *matHeaderCellDef>City Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container
    *ngFor="let displayedColumn of displayedColumns | slice : 1 : displayedColumns.length; let i = index"
    [matColumnDef]="displayedColumn"
  >
    <th mat-header-cell *matHeaderCellDef>{{ displayedColumn | date : 'HH:mm (dd.MM)' }}</th>
    <td mat-cell *matCellDef="let element">{{ element.hourly[i].temp | temperatureConvert: 'KC'| number: "1.0-0"}}°</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
